{% extends "::base.html.twig" %}

{% block carrusel %}
  
  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item">
      <img src="{{ asset('img/carrusel/1.jpg') }}" alt="">
    </div>
    <div class="item">
      <img src="{{ asset('img/carrusel/2.jpg') }}" alt="">
    </div>
    <div class="item">
      <img src="{{ asset('img/carrusel/3.jpg') }}" alt="">
    </div>
    <div class="item">
      <img src="{{ asset('img/carrusel/4.jpg') }}" alt="">
    </div>
    <div class="item">
      <img src="{{ asset('img/carrusel/5.jpg') }}" alt="">
    </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>

{% endblock %}

{% block descripcion %}
  <div class="span4">
    <img src="http://placehold.it/300x200" class="img-polaroid" alt="">
    <h3>100% WEB</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, placeat, minus, vitae perferendis aut corrupti repellat officiis est laboriosam quidem neque necessitatibus nisi quasi in quisquam possimus itaque ipsam aspernatur?</p>
    <a href="#" class="btn">Ver más...</a>
  </div>

  <div class="span4">
    <img src="http://placehold.it/300x200" class="img-polaroid" alt="">
    <h3>Gestión y Control</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, placeat, minus, vitae perferendis aut corrupti repellat officiis est laboriosam quidem neque necessitatibus nisi quasi in quisquam possimus itaque ipsam aspernatur?</p>
    <a href="#" class="btn">Ver más...</a>
  </div>
  
  <div class="span4">
    <img src="http://placehold.it/300x200" class="img-polaroid" alt="">
    <h3>Gratis!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, placeat, minus, vitae perferendis aut corrupti repellat officiis est laboriosam quidem neque necessitatibus nisi quasi in quisquam possimus itaque ipsam aspernatur?</p>
    <a href="#" class="btn">Ver más...</a>
  </div>

{% endblock %}
