<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
		{% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        <div class="container">
            <!-- Menu Superior -->
            <div class="row">
               <div class="navbar">
                  <div class="navbar-inner">
                    <a class="brand" href="#">baloo</a>
                    <ul class="nav">
                      <li class="active"><a href="#">Inicio</a></li>
                      <li><a href="#login" role="button"  data-toggle="modal">Ingresar</a></li>
                      <li><a href="#">Contacto</a></li>
                    </ul>
                  </div>
                </div>
            </div>

        </div>
        {% block carrusel %}{% endblock %}

        <div class="container">
            <div class="row">
                {% block body %}{% endblock %}
            </div>    
        
            <div class="row descripcion">
                {% block descripcion %}
                {% endblock %}
            </div>
        
            <footer>
                <p>© 2013 baloo · <a href="#">Privacidad</a> · <a href="#">Términos de uso</a></p>
            </footer>
        
        </div>

        <!-- Modal -->
        <div id="login" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Inicio de Sesión</h3>
          </div>
          <div class="modal-body">
            <p>Bienvenido, para ingresar a la plataforma, complete la siguiente información</p>
            
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <input class="span2" id="prependedInput" type="text" placeholder="Usuario">
            </div>
            
            <div class="input-prepend">
              <span class="add-on"><i class="icon-ok"></i></span>
              <input class="span2" id="prependedInput" type="password" placeholder="Contraseña">
            </div>

          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            <button class="btn btn-primary">Ingresar</button>
          </div>
        </div>


        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
