{% extends 'JotaMillerBalooBundle::app.html.twig' %}

{% block titulo_pagina %}
    Lista de Apoderados
{% endblock %}

{% block acciones_pagina %}
<ul class="stats">
    <li class='blue'>
        <i class="icon-group"></i>
        <div class="details">
            <span class="big">{{ entities|length  }}</span>
            <span>Apoderados</span>
        </div>
    </li>
</ul>
{% endblock %}

{% block contenido %}

    <div class="box box-color box-bordered">
        <div class="box-title">
            <h3>
                <i class="icon-group"></i>
                Lista de Apoderados actualmente registrados
            </h3>
        </div>
        <div class="box-content nopadding">
            <table class="table table-nomargin dataTable table-bordered dataTable-scroll-y">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Region</th>
                        <th>Comuna</th>
                        <th>Fecha de Registro</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('apoderado_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.nombre }}</td>
                            <td>{{ entity.apellido }}</td>
                            <td>{{ entity.email }}</td>
                            <td>{{ entity.telefono }}</td>
                            <td>{{ entity.region }}</td>
                            <td>{{ entity.comuna }}</td>
                            <td>{% if entity.fechaRegistro %}{{ entity.fechaRegistro|date('d M, Y') }}{% endif %}</td>
                            <td><a href="{{ path('apoderado_show', { 'id': entity.id }) }}" class="btn btn-success"><i class="icon-eye-open"></i></a>
                                <a href="{{ path('apoderado_edit', { 'id': entity.id }) }}" class="btn"><i class=" icon-pencil"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
