{% extends 'JotaMillerBalooBundle::app.html.twig' %}


{% block titulo_pagina %}
    Agregar nuevo Apoderado
{% endblock %}

{% block contenido %}

<div class="box">
    <div class="box-title">
        <h3><i class="icon-edit"></i>Complete la siguiene información</h3>
    </div>
    <div class="box-content">
        <form action="{{ path('apoderado_create') }}" class='form-horizontal' method="post" {{ form_enctype(form) }}>
            <div class="control-group">
                <label for="" class="control-label">Nombre</label>
                <div class="controls">
                    {{ form_widget(form.nombre) }}
                </div>
            </div>
            <div class="control-group">
                <label for="" class="control-label">Apellidos</label>
                <div class="controls">
                    {{ form_widget(form.apellido) }}
                </div>
            </div>
            <div class="control-group">
                <label for="" class="control-label">Telefono</label>
                <div class="controls">
                    {{ form_widget(form.telefono) }}
                </div>
            </div>
            <div class="control-group">
                <label for="" class="control-label">Región</label>
                <div class="controls">
                    {{ form_widget(form.region) }}
                </div>
            </div>
            <div class="control-group">
                <label for="" class="control-label">Comuna</label>
                <div class="controls">
                    {{ form_widget(form.comuna) }}
                </div>
            </div>
            <div class="control-group">
                <label for="" class="control-label">Dirección</label>
                <div class="controls">
                    {{ form_widget(form.direccion) }}
                </div>
            </div>
            <div class="control-group">
                <label for="" class="control-label">E-mail</label>
                <div class="controls">
                    {{ form_widget(form.email) }}
                </div>
            </div>
            
            <div class="control-group">
                <label for="textarea" class="control-label">Notas </label>
                <div class="controls">
                    {{ form_widget(form.notas, { 'attr': {'class': 'input-block-level'} }) }}
                    <span class="help-block">Ingrese información adicional sobre el Apoderado</span>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="{{ url('apoderado') }}" class="btn">Cancelar</a>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
</div>

{% endblock %}
