{% extends 'JotaMillerBalooBundle::app.html.twig' %}

{% block titulo_pagina %}
    <i class=" icon-chevron-right"></i>&nbsp; Ficha de: {{ entity.nombre }} {{ entity.apellido }}
{% endblock %}


{% block acciones_pagina %}

    <ul class="stats">
        <li class='blue'>
            <i class="icon-user"></i>
            <div class="details">
                <span class="big">Apoderado</span>
            </div>
        </li>
    </ul>
{% endblock %}

{% block contenido %}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ entity.region }}</td>
            </tr>
            <tr>
                <th>Comuna</th>
                <td>{{ entity.comuna }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Fecharegistro</th>
                <td>{{ entity.fechaRegistro|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
   
    <form action="{{ path('apoderado_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <a href="{{ path('apoderado') }}" class="btn btn-primary">Regresar a la lista</a>
        <a href="{{ path('apoderado_edit', { 'id': entity.id }) }}" class="btn">Editar</a>
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>
{% endblock %}
