{% extends 'JotaMillerBalooBundle::app.html.twig' %}

{% block titulo_pagina %}
    <i class=" icon-chevron-right"></i>&nbsp; Editar Ficha de: {{ entity.nombre }} {{ entity.apellido }}
{% endblock %}

{% block acciones_pagina %}
    <ul class="minitiles">
        <li class='blue'>
            <a href="{{ path('alumno') }}" rel="tooltip" data-original-title="Regresa a la lista de Alumnos" data-placement="bottom"><i class="icon-reply"></i></a>
        </li>
    </ul>
   
    <ul class="stats">
        <li class='green'>
            <i class="icon-user"></i>
            <div class="details">
                <span class="big">Alumno</span>
            </div>
        </li>
    </ul>
{% endblock %}


{% block contenido %}
     {{ tinymce_init() }}
    <form action="{{ path('alumno_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />

        <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="fileupload-new thumbnail" style="width: 80px; height: 80px;">
                    <img src="http://www.placehold.it/80/EFEFEF/AAAAAA&amp;text=no+image" />
                </div>
                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;">
                    
                </div>
                <div>
                    <span class="btn btn-file">
                        <span class="fileupload-new">Select image</span>
                        <span class="fileupload-exists">Change</span>
                        {{ form_widget(edit_form.foto) }}
                        <!-- <input type="file" /> -->
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
            </div>

        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('alumno') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('alumno_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
