{% extends 'JotaMillerBalooBundle::app.html.twig' %}

{% block titulo_pagina %}
    Lista de Alumnos
{% endblock %}

{% block acciones_pagina %}
<ul class="stats">
    <li class='green'>
        <i class="icon-group"></i>
        <div class="details">
            <span class="big">{{ entities|length  }}</span>
            <span>Alumnos</span>
        </div>
    </li>
</ul>
{% endblock %}

{% block contenido %}

<ul class="tiles">
    {% for entity in entities %}
        <li class="image">
            <a href="{{ path('alumno_show', { 'id': entity.id }) }}">
                <img src="{{ entity.getWebPath | apply_filter('lista_portada')  }}" alt="">
                <span class="name">{{ entity.nombre }} {{ entity.apellido }}</span>
            </a>
        </li>
    {% endfor %}
 </ul>
{% endblock %}
