{% extends 'JotaMillerBalooBundle::app.html.twig' %}

{% block titulo_pagina %}
    Agregar nuevo Alumno
{% endblock %}

{% block contenido %}
<div class="box">
    <div class="box-title">
        <h3><i class="icon-edit"></i>Complete la siguiene información</h3>
    </div>
    <div class="box-content">
        <form action="{{ path('alumno_create') }}" class='form-horizontal' method="post" {{ form_enctype(form) }}>

            <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="fileupload-new thumbnail" style="width: 80px; height: 80px;">
                    <img src="http://www.placehold.it/80/EFEFEF/AAAAAA&amp;text=no+image" />
                </div>
                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;">
                    
                </div>
                <div>
                    <span class="btn btn-file">
                        <span class="fileupload-new">Select image</span>
                        <span class="fileupload-exists">Change</span>
                        {{ form_widget(form.foto) }}
                        <!-- <input type="file" /> -->
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
            </div>

            <div class="control-group">
                <label for="" class="control-label">Nombre</label>
                <div class="controls">
                    {{ form_widget(form.nombre) }}
                </div>
            </div>
            <div class="control-group">
                <label for="" class="control-label">Apellidos</label>
                <div class="controls">
                    {{ form_widget(form.apellido) }}
                </div>
            </div>
            <div class="control-group">
                <label for="" class="control-label">Fecha de Nacimiento</label>
                <div class="controls">
                    {{ form_widget(form.fechaNacimiento) }}
                </div>
            </div>
            <div class="control-group">
                <label for="" class="control-label">Región</label>
                <div class="controls">
                    {{ form_widget(form.region) }}
                </div>
            </div>
            <div class="control-group">
                <label for="" class="control-label">Comuna</label>
                <div class="controls">
                    {{ form_widget(form.comuna) }}
                </div>
            </div>
            <div class="control-group">
                <label for="" class="control-label">Dirección</label>
                <div class="controls">
                    {{ form_widget(form.direccion) }}
                </div>
            </div>
            <div class="control-group">
                <label for="" class="control-label">Colegio</label>
                <div class="controls">
                    {{ form_widget(form.colegio) }}
                </div>
            </div>
            
            <div class="control-group">
                <label for="textarea" class="control-label">Notas </label>
                <div class="controls">
                    {{ form_widget(form.notas, { 'attr': {'class': 'input-block-level'} }) }}
                    <span class="help-block">Ingrese información adicional sobre el Apoderado</span>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="{{ url('alumno') }}" class="btn">Cancelar</a>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
</div>

{% endblock %}