{% extends 'JotaMillerBalooBundle::app.html.twig' %}

{% block titulo_pagina %}
    <i class=" icon-chevron-right"></i>&nbsp; Ficha de: {{ entity.nombre }} {{ entity.apellido }}
{% endblock %}

{% block acciones_pagina %}
    <ul class="minitiles">
        <li class='blue'>
            <a href="{{ path('alumno') }}" rel="tooltip" data-original-title="Regresa a la lista de Alumnos" data-placement="bottom"><i class="icon-reply"></i></a>
        </li>
        <li class='orange'>
            <a href="{{ path('alumno_edit', { 'id': entity.id }) }}" rel="tooltip" data-original-title="Edita los datos personales del Alumno" data-placement="bottom"><i class="icon-edit"></i></a>
        </li>
    </ul>
   
    <ul class="stats">
        <li class='green'>
            <i class="icon-user"></i>
            <div class="details">
                <span class="big">Alumno</span>
            </div>
        </li>
    </ul>
{% endblock %}


{% block menu_costado %}
<div class="subnav">
    <div class="subnav-title">
        <a href="#" class='toggle-subnav' rel="tooltip" data-original-title="Filtrados de acuerdo a la edad" data-placement="right" >
            <i class="icon-angle-down"></i>
            <span>Documentos</span>
        </a>
    </div>
    <ul class="subnav-menu">
        <li>
            <a href="{{ url('documento') }}"><i class=" icon-folder-open"></i> Ver todos</a>
        </li>
        {% for documento in documentos %}
        <li>
            <a href="{{ asset(documento.getWebPath) }}"><i class="icon-file"></i>{{ documento.nombre }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block contenido %}

    <div class="span8">
        <div class="box">
            <div class="box-title">
                <h3>Registro de Eventos</h3>
            </div>
            <div class="box-content " >
            <!-- <div class="box-content scrollable" data-height="500" data-start="top"> -->
                <ul class="messages">
                    <li class="insert">
                        <form id="message-form" method="POST" action="{{ url('comentario_add') }}">
                            <div class="text">
                                <input type="text" name="text" id="texto_comentario" placeholder="Ingrese un comentario..." class="input-block-level">
                            </div>
                            <input type="hidden" name="id_alumno" id="id_alumno" value="{{ entity.id }}">
                            <input type="hidden" name="url_comentario_add" id="url_comentario_add" value="{{ url('comentario_add') }}">
                            <div class="submit">
                                <button type="submit"><i class="icon-share-alt"></i></button>
                            </div>
                        </form>
                    </li>
                    <li class="typing">
                        <span class=""></span> Enviando mensaje... <img src="{{ asset('img/loading.gif') }}" alt="">
                    </li>
                </ul>
                <ul id="lista_historial" class="messages">
                    {% for comentario in comentarios %}
                        <li class="{{ cycle(['left', 'right'], loop.index) }}">
                            <div class="image">
                                <img src="{{ app.user.getWebPath | apply_filter('img_post') }}" alt="">
                                <!-- <i class="icon-book"></i> -->
                            </div>
                            <div class="message">
                                <span class="caret"></span>
                                <span class="">{{ comentario.usuario }} escribio el <small>{{ comentario.fechaRegistro|date('d M, Y \a H:i') }} </small></span>
                                <p>{{ comentario.comentario }}</p>
                                <span class="time timeago" title="{{ comentario.fechaRegistro|date('Y-m-d H:i:s') }}"></span>

                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
    <div class="span4">
        <div class="box">
            <div class="box-title">
                <h3>{{ entity.nombre }} {{ entity.apellido }}</h3>
            </div>
            <div class="box-content">
                <img src="{{ entity.getWebPath | apply_filter('img_contenido') }}" alt="">
                <h4>{{ edad }} Años</h4>
                <h4>Programa: XXXXX</h4>
            </div>
        </div>
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-edit"></i>Datos Personales</h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-nomargin table-bordered  dataTable-noheader dataTable-nofooter">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ entity.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Apellido</th>
                        <td>{{ entity.apellido }}</td>
                    </tr>
                    <tr>
                        <th>Fecha de Nacimiento</th>
                        <td>{{ entity.fechaNacimiento|date('d M, Y') }}</td>
                    </tr>
                    <tr>
                        <th>Región</th>
                        <td>{{ entity.region }}</td>
                    </tr>
                    <tr>
                        <th>Comuna</th>
                        <td>{{ entity.comuna }}</td>
                    </tr>
                    <tr>
                        <th>Dirección</th>
                        <td>{{ entity.direccion }}</td>
                    </tr>
                    <tr>
                        <th>Colegio</th>
                        <td>{{ entity.colegio }}</td>
                    </tr>
                    <tr>
                        <th>Fecha de Registro</th>
                        <td>{{ entity.fechaRegistro|date('d M, Y') }}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/comentarios.js') }}"></script>
{% endblock %}