{% extends 'JotaMillerBalooBundle::app.html.twig' %}

{% block titulo_pagina %}
    Lista de Documentos
{% endblock %}

{% block acciones_pagina %}
    <ul class="minitiles">
        <li class='blue'>
            <a href="{{ path('documento_new') }}" rel="tooltip" data-original-title="Agrega un nuevo documento" data-placement="bottom"><i class="icon-file"></i></a>
        </li>
    </ul>
{% endblock %}

{% block contenido -%}
<ul class="tiles">
    {% for entity in entities %}
        <li class="{{ cycle(['red', 'blue', 'orange', 'lime', 'magenta', 'pink', 'teal'], loop.index) }} long">
            <a href="{{ path('documento_show', {'id' : entity.id}) }}">
                <span class="nopadding">
                    <h5>{{ entity.formato }}</h5>
                    <p>{{ entity.nombre|lower  }}</p>
                </span>
                <span class="name">
                    <i class="icon-file"></i>
                    <!-- <span class="right">1min ago</span> -->
                </span>
            </a>
        </li>
    {% endfor %}
    
{% endblock %}
