{% extends 'JotaMillerBalooBundle::app.html.twig' %}

{% block titulo_pagina %}
    Nuevo Documento
{% endblock %}

{% block contenido -%}
    
<div class="box">
    <div class="box-title">
        <h3><i class="icon-edit"></i> Complete la siguiente información</h3>
    </div>
    <div class="box-content">
        <form action="{{ path('documento_create') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
            <div class="control-group">
                <label for="textfield" class="control-label">Nombre</label>
                <div class="controls">
                    {{ form_errors(form.nombre) }}
                    {{ form_widget(form.nombre) }}
                    <span class="help-block">El nombre de la Prueba, Test, Etc...</span>
                </div>
            </div>
            <div class="control-group">
                <label for="textfield" class="control-label">Edad Desde</label>
                <div class="controls">
                    {{ form_errors(form.edad_desde) }}
                    {{ form_widget(form.edad_desde,  { 'attr': {'class': 'span1'} }) }}
                    <span class="help-block">¿Dese que edad se debe aplicar el test? indique 0 (cero) si no hay limite</span>
                </div>
            </div>
            <div class="control-group">
                <label for="textfield" class="control-label">Edad Hasta</label>
                <div class="controls">
                    {{ form_errors(form.edad_hasta) }}
                    {{ form_widget(form.edad_hasta,  { 'attr': {'class': 'span1'} }) }}
                    <span class="help-block">¿Hasta que edad se debe aplicar el test? indique 99 (noventa y nueve) si no hay limite</span>
                </div>
            </div>
            <div class="control-group">
                <label for="textfield" class="control-label">Descripción</label>
                <div class="controls">
                    {{ form_errors(form.descripcion) }}
                    {{ form_widget(form.descripcion) }}
                    <span class="help-block">Describa el documento, objetivos y caracteristicas</span>
                </div>
            </div>
            <div class="control-group">
                <label for="textfield" class="control-label">Tags</label>
                <div class="controls">
                    {{ form_errors(form.tags) }}
                    {{ form_widget(form.tags) }}
                    <!-- <span class="help-block">Describa el documento, objetivos y caracteristicas</span> -->
                </div>
            </div>
            <div class="control-group">
                <label for="textfield" class="control-label">Archivo</label>
                <div class="controls">
                    {{ form_errors(form.file) }}
                    {{ form_widget(form.file) }}
                    <!-- <span class="help-block">Describa el documento, objetivos y caracteristicas</span> -->
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Guardar Documento</button>
                <a href="{{ path('documento') }}" class="btn">Cancelar</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
