<!doctype html>
<html>
<head>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- Apple devices fullscreen -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Apple devices fullscreen -->
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	

	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
	<!-- Bootstrap responsive -->
	<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}">
	<!-- jQuery UI -->
	<link rel="stylesheet" href="{{ asset('css/plugins/jquery-ui/smoothness/jquery-ui.css') }}">
	<link rel="stylesheet" href="{{ asset('css/plugins/jquery-ui/smoothness/jquery.ui.theme.css') }}">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('css/custom.css') }}">
	<!-- Fullcalendar -->
	<link rel="stylesheet" href="{{ asset('css/plugins/fullcalendar/fullcalendar.css') }}">
	<link rel="stylesheet" href="{{ asset('css/plugins/fullcalendar/fullcalendar.print.css') }}" media="print">

	<!-- jQuery -->
	<script src="{{ asset('js/jquery.min.js') }}"></script>
	<!-- jQuery UI -->
	<script src="{{ asset('js/plugins/jquery-ui/jquery.ui.core.min.js') }}"></script>
	<script src="{{ asset('js/plugins/jquery-ui/jquery.ui.widget.min.js') }}"></script>
	<script src="{{ asset('js/plugins/jquery-ui/jquery.ui.mouse.min.js') }}"></script>
	<script src="{{ asset('js/plugins/jquery-ui/jquery.ui.resizable.min.js') }}"></script>
	<script src="{{ asset('js/plugins/jquery-ui/jquery.ui.draggable.min.js') }}"></script>
	<!-- slimScroll -->
	<script src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
	<!-- Bootbox -->
	<script src="{{ asset('js/plugins/bootbox/jquery.bootbox.js') }}"></script>
	<!-- Bootbox -->
	<script src="{{ asset('js/plugins/form/jquery.form.min.js') }}"></script>
	<!-- dataTables -->
	<script src="{{ asset('js/plugins/datatable/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('js/plugins/datatable/TableTools.min.js') }}"></script>
	<script src="{{ asset('js/plugins/datatable/ColReorder.min.js') }}"></script>
	<script src="{{ asset('js/plugins/datatable/ColVis.min.js') }}"></script>
	<script src="{{ asset('js/plugins/datatable/dataTables.scroller.min.js') }}"></script>
	<!-- Custom file upload -->
	<script src="{{ asset('js/plugins/fileupload/bootstrap-fileupload.min.js') }}"></script>
	<!-- Chosen -->
	<script src="{{ asset('js/plugins/chosen/chosen.jquery.min.js') }}"></script>
	<!-- Validation -->
	<script src="{{ asset('js/plugins/validation/jquery.validate.min.js') }}"></script>
	<script src="{{ asset('js/plugins/validation/additional-methods.min.js') }}"></script>
	<!-- FullCalendar -->
	<script src="{{ asset('js/plugins/fullcalendar/fullcalendar.min.js') }}"></script>
	<!-- Timeago -->
	<script src="{{ asset('js/plugins/jquery.timeago.js') }}"></script>
	<!-- Theme framework -->
	<script src="{{ asset('js/eakroko.min.js') }}"></script>
	<!-- Theme scripts -->
	<script src="{{ asset('js/application.min.js') }}"></script>
	<!-- Just for demonstration -->
	<script src="{# asset('js/demonstration.min.js') #}"></script>
	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" />
	<!-- Apple devices Homescreen icon -->
	<link rel="apple-touch-icon-precomposed" href="{{ asset('img/apple-touch-icon-precomposed.png') }}" />

</head>

<body>
	<div id="navigation">
		<div class="container-fluid">
			<a href="#" id="brand">baloo</a>
			<a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation"><i class="icon-reorder"></i></a>
			<ul class='main-nav'>
				<li>
					<a href="{{ url('baloo_inicio') }}">
						<i class="icon-home"></i>
						<span>Dashboard</span>
					</a>
				</li>
				<li>
					<a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<i class="icon-edit"></i>
						<span>Programas</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="forms-basic.html">Programa 1</a>
						</li>
						<li>
							<a href="forms-extended.html">Programa 2</a>
						</li>
						<li>
							<a href="forms-validation.html">Programa 3</a>
						</li>
						<li>
							<a href="forms-wizard.html">Programa 4</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<i class="icon-edit"></i>
						<span>Alumnos</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ url('alumno') }}">Ver Todos</a>
						</li>
						<li>
							<a href="{{ url('alumno_new') }}">Agregar Nuevo</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="{{ url('calendario') }}">
						<i class="icon-calendar"></i>
						<span>Calendario</span>
					</a>
				</li>
			</ul>
			<div class="user">
				<div class="dropdown">
					<a href="#" class='dropdown-toggle' data-toggle="dropdown">{{ app.user.username }}<img src="{{ app.user.getWebPath |  apply_filter('img_icono_usuario') }}" alt=""></a>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="{{ url('fos_user_profile_show') }}">Ver Perfil</a>
						</li>
						<li>
							<a href="#">Opciones de cuenta</a>
						</li>
						<li>
							<a href="{{ url('fos_user_security_logout') }}">Cerrar sesión</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="content">
		<div id="left">
			<form action="http://www.eakroko.de/flat/search-results.html" method="GET" class='search-form'>
				<div class="search-pane">
					<input type="text" name="search" placeholder="Search here...">
					<button type="submit"><i class="icon-search"></i></button>
				</div>
			</form>
			
			{% block menu_costado %} {% endblock %}
			
		</div>
		<div id="main">
			<div class="container-fluid">
				<div class="page-header">
					<div class="pull-left">
						<!-- Titulo Pagina -->
						<h1>{% block titulo_pagina %}{% endblock %}</h1>
					</div>
					<div class="pull-right">
						<!-- Acciones pagina/seccion -->
						{% block acciones_pagina %}
						{% endblock %}
					</div>
				</div>
				<!-- breadcrumbs -->
				<div class="breadcrumbs">
					{% block breadcrumbs %}
					<ul>
						<li>
							<a href="{{ url('baloo_inicio') }}">Home</a>
						</li>
					</ul>
					<div class="close-bread">
						<a href="#"><i class="icon-remove"></i></a>
					</div>
					{% endblock %}
				</div>
				<div class="row-fluid">
					<div class="span12">
						{% block contenido %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>

	{% block javascript %}
	{% endblock %}
</body>

</html>