/* Estilos generales */

/* Carrusel */

#myCarousel .item img{
	/*height: 200px;*/
	width: 100%;
}

#myCarousel .item{
	height: 400px;
	overflow: hidden;
}

.descripcion h3,
.descripcion p,
.descripcion .span4{
	text-align: center;
}

footer{
	margin-top: 50px;
}


/* Comentarios */

#lista_historial .image i {
    font-size: 36px;
    line-height: 61px;
}