<!doctype html>
<html>
<head>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- Apple devices fullscreen -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Apple devices fullscreen -->
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	

	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
	<!-- Bootstrap responsive -->
	<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<!-- Color CSS -->
	<link rel="stylesheet" href="{{ asset('css/themes.css') }}">


	<!-- jQuery -->
	<script src="{{ asset('js/jquery.min.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('js/eakroko.js') }}"></script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico" />
	<!-- Apple devices Homescreen icon -->
	<link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-precomposed.png" />

</head>

<body class='login'>
	<div class="wrapper">
		<h1><a href="index.html"><img src="{{ asset('img/logo-big.png') }}" alt="" class='retina-ready' width="59" height="49">FLAT</a></h1>
		<div class="login-body">
			<h2>INGRESO</h2>
			{% if error %}
			    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
			{% endif %}
			<form action="{{ path("fos_user_security_check") }}" method="post">
			    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				<div class="email">
			    	<input type="text" id="username" placeholder="Nombre de Usuario" class='input-block-level' name="_username" value="{{ last_username }}" required="required" />
				</div>

				<div class="pw">
			    	<input type="password" id="password" name="_password" class='input-block-level' placeholder="Contraseña" required="required" />
				</div>
				
				<!-- <div>
				    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
				    <label for="remember_me">Recordarme</label>
				</div> -->

				<div class="submit">
			    	<input type="submit" id="_submit" name="_submit"  class='btn btn-primary' value="Ingresar" />
				</div>
			</form>
			<div class="forget">
				<a href="#"><span>¿Olvido su Contraseña?</span></a>
			</div>
		</div>
	</div>
</body>

</html>
