<pdf>
    <dynamic-page>
    <h2>PDF</h2>
        <table>
        {% for informe in informes %}
            <tr>
                <td>{{ informe }}</td>
            </tr>
        {% endfor %}
        </table>

    </dynamic-page>
</pdf>