{% extends 'JotaMillerBalooBundle::app.html.twig' %}


{% block titulo_pagina %}
    Calendario
{% endblock %}



{% block acciones_pagina %}
	<ul class="minitiles">
		{% if conectado_google == 1 %}
	  		<li class="lime">
				<a href="#" rel="popover" data-placement="left" data-trigger="hover" title="Conectado" data-content="Se encuentra conectado correctamente con el Calendario de Google" ><i class="icon-lock"></i></a>
			</li>
		{% else %}
			<li class="red">
				<a href="{{ url_conexion }}"  rel="popover" data-placement="left" data-trigger="hover" title="Sin Conexión con Google" data-content="No se encuentra conectado con el Calendario de Google, para establecer la conexión, presione el candado" ><i class="icon-unlock"></i></a>
			</li>
		{% endif %}
	</ul>
	<ul class="stats">
	    <li class='blue'>
	        <i class="icon-calendar"></i>
	        <div class="details">
	            <span class="big">0</span>
	            <span>Eventos Proximos</span>
	        </div>
	    </li>
	</ul>
{% endblock %}


{% block contenido %}
	<div class="box">
		<div class="box-title">
			<h3>
				<i class="icon-calendar"></i>
				Calendar
			</h3>
		</div>
		<div class="box-content nopadding">
			<div class="calendar"></div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
<script>
	
	$.get('{{ url('calendario_eventos_get') }}', function(json) {
		$(document).data("eventos",json);
		
		$('.calendar').fullCalendar(
		   	"addEventSource", $(document).data("eventos")
		);
	});

</script>
{% endblock %}